.header-menu{
  width: 100%;
  min-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__item{
  min-height: 28px;
}

.header-menu__item-ref--logo{
  display: block;
  min-height: inherit;
  width:80px;
  background: url('../img/Nike.png');
}
