.item{
  min-height: 800px;
  position: relative;
  overflow: visible;
}

.item-inner{
  min-height: 1200px;
  width: 100%;
  position: absolute;
  z-index: 10;

  top:-200px;
  background:url('../img/BigWave.png') no-repeat,
          url('../img/BackWave.png') no-repeat 0 45px;
  background-size: 100%  100%;
}

.item-shoes{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}


.item-btn{
  display: block;
  width: 200px;
  min-height: 50px;
  background-color: rgb(0,236,244);
  text-transform: uppercase;
  color:rgb(255,255,255);
  border:none;
  border-radius:25px;
  margin-top:800px;
  margin-left: 220px;
  box-shadow: 0px 10px 30px 0px rgba(20, 108, 113, 0.15);
}
