.way{
  min-height: 906px;
  box-shadow: inset 0 0 2px 2px fuchsia;
  background:url('../img/BackFigure.png') no-repeat left top;
}

.way-pic{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}

.way-inside{
  width: 30%;
  margin-left: auto;
  text-align:center;
  box-shadow: 0 0 3px 3px orange;
  padding-top: 350px;
}
